{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

      *{
          margin:0;
          padding:0;
          box-sizing: border-box;
      }
      body{
          font-family: 'Montserrat', sans-serif;
      }
      .title{
          font-size: 2.5em;
          margin-bottom: 30px;
      }
      .section{
          background-color: #F8F5F2;
          display: flex;
          align-items: center;
          flex-direction: column;
      }
      .button
      {
        background-color: var(--semi-dark);
        border: none;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px 20px;
        transition: ease-in-out 0.3s;
      }
      .homepage-section, .result-section{
          padding-top: 35px;
          width: 100vw;
          height: 100vh;
      }
      .result-section{
          padding-top: 200px;
          text-align: center;
      }
      .result{
          font-size: 2em;
      }
      .form-homepage{
          display: flex;
          flex-direction: column;
      }

      .form-homepage select{
          margin-top: 10px;
          height: 25px;
          margin-bottom: 20px;
      }
      .form-homepage label{
          font-size: 1.2em;
      }
      .form-homepage input{
          margin-top: 15px;
          background-color: #D7C8C3;
        border: none;
        border-radius: 20px;
        cursor: pointer;
          padding: 10px 20px;
        transition: ease-in-out 0.3s;
      }
      .form-homepage input:active
      {
        background-color: #D7C8C3;
        transition: 0s;
      }
      .form-homepage input:focus
      {
        outline: none;
      }
      .form-homepage input:hover
      {
        background-color: #949494;
        color: var(--white);
        transition: ease-in-out 0.3s;
      }
    </style>

    <title>Homepage</title>
  </head>
  <body>
    <section class="section homepage-section">
      <h1 class="title">Deteksi Corona</h1>
      <form method = "GET" class="form-homepage">
        {{ form }}
        <input type = "submit" value="Submit">
      </form>
    </section>
  </body>
</html>